* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* 设置导航栏 */
.hide_nav {
    display: block;
}
.set_one_a_size {
    font-size: 28px;
    font-weight: 700;
}
.set_next_a_size {
    font-size: 16px;
    color: rgb(5, 255, 230);
}
.set_one_a_size:hover {
    color: rgb(5, 255, 47);
}
.set_next_a_size:hover {
    color: rgb(118, 255, 5);
}
.btn-group .set_bc {
    background-color: rgb(8, 243, 223);
    border-color: rgb(8, 243, 223);
}
.nav_h {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    z-index: 999;
}
/* 设置背景图片 */
.bc_image {
    text-align: center;
    padding-top: 10px;
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 360px;
    /* border: 1px solid green; */
}
.bc_image::after {
    height: 360px;
    width: 100%;
    content: "";
    /* 将伪元素修改为块级元素 */
    display: block;
    position: absolute;
    top: 0;
    background: url(../images/dream1.jpg) no-repeat;
    /* 设置成100%，100%能够将宽高拉伸到内容区域的最大，这是拉升(宽 高) */
    background-size: 100% 100%;
    /* position:是图片所处的位置 */
    background-position: center center;
    opacity: 0.4;
}
/* .insert_image {
    background-image: url(../images/bb.jpg) no-repeat;
}
.text {
    width: 100%;
    height: 360px;
} */
@font-face {
    font-family: myFirstFont;
    src: url(../王汉宗中行书繁.ttf);
}
.sty {
    height: 300px;
    /* border: 1px solid green; */
}

.heads {
    /* position: fixed;
    top: 84px; */
    border: 1px solid green;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    /* background: url(../images/very_cute.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed; */
}
.cute {
    width: 100%;
    height: 200px;
}
/* container模块 */
.change_fake {
    margin-top: 300px;
}
/* 制作一号轮播图-start */
.move,
.move_two {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.move ul,
.move_two ul {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.move .arrow,
.move_two .arrow {
    display: none;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
}
.move .arrow_down {
    top: 0;
    left: 50%;
    margin-left: -15px;
}
.move .arrow_up {
    top: 174px;
    left: 50%;
    margin-left: -15px;
}
.circle {
    /* height: 80px; */
    position: absolute;
    top: 40px;
    right: 10px;
}
.circle li,
.circle_two li {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 1px;
}
.circle .change {
    background-color: green;
}
/* end**************** */
.set-img {
    /* display: block; */
    width: 100%;
    height: 200px;
}
/* 制作第二个轮播图start */
.move_two ul {
    width: 600%;
}
.move_two ul li {
    width: 262.5px;
    height: 100%;
    float: left;
}
.move_two .arrow_left {
    left: 0;
    top: 50%;
    margin-top: -15px;
}
.move_two .arrow_right {
    right: 0;
    top: 50%;
    margin-top: -15px;
}
.circle_two {
    position: absolute;
    bottom: 0;
    left: 35%;
}
.circle_two li {
    float: left;
    margin-left: 1px;
}
.circle_two .change_two {
    background-color: pink;
}
.introduce {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-family: myFirstFont, "宋体";
}
/* 广告条 */
.ad {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 190px;
    left: 50%;
    margin-left: -250px;
    z-index: 1;
    opacity: 0.8;
}
