* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(../images/mountain.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}
.box {
    width: 650px;
    height: 380px;
    /* background-color: #ccc; */
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 13px;
    overflow: hidden;
    box-shadow: -1px 2px 3px 0.3px rgb(80, 78, 78);
}
.box .left {
    width: 50%;
    height: 100%;
    float: left;
    opacity: 1.1;
}
.left .big_one {
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 233);
    padding-top: 44px;
    display: block;
}
.right .big_two {
    width: 100%;
    height: 100%;
    background-color: rgb(233, 233, 233);
    padding-top: 44px;
    display: none;
}
.box .right {
    position: relative;
    width: 50%;
    height: 100%;
    float: right;
    /* background-color: rgb(233, 233, 233); */
    opacity: 1.1;
}
.box .right .enter {
    width: 280px;
    height: 300px;
    /* background-color: rgb(233, 233, 233); */
    margin: 0px 20px;
    text-align: center;
    color: #ccc;
}
.enter h2 {
    font-weight: normal;
    color: #555;
}
.enter input {
    width: 260px;
    height: 40px;
    margin-top: 20px;
    padding-left: 5px;
    color: #666;
    border: 0;
}
.right .enter input:last-child {
    width: 130px;
    border-radius: 19px;
    padding: 0;
    color: white;
    /* background-color: red; */
}
.last {
    background-image: linear-gradient(to right, rgb(2, 110, 163), rgb(0, 137, 151));
}
.left {
    position: relative;
}
.change {
    position: absolute;
    left: 50%;
    top: 190px;
    margin-left: -100px;
    width: 160px;
    height: 40px;
    border-radius: 21px;
    background-image: linear-gradient(to right, rgb(2, 110, 163), rgb(0, 137, 151));
    text-align: center;
    line-height: 40px;
    color: white;
}
.display_one {
    display: none;
}
.display_two {
    display: block;
}
.box .left .left_cover {
    width: 280px;
    height: 300px;
    background-color: rgb(233, 233, 233);
    margin: 0px 20px;
    text-align: center;
    color: #ccc;
}
.left_cover h2 {
    font-weight: normal;
    color: #555;
}
.left_cover input {
    width: 260px;
    height: 40px;
    margin-top: 20px;
    padding-left: 5px;
    color: #666;
    border: 0;
}
.left .left_cover input:last-child {
    width: 130px;
    border-radius: 19px;
    padding: 0;
    color: white;
    margin-top: 10px;
    /* background-color: red; */
}
.left_cover p {
    margin: 26px 0;
}
