body {
    background: url(images/index.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

@font-face {
    font-family: myFirstFont;
    src: url(王汉宗中行书繁.ttf);
}

h2 {
    font-family: myFirstFont, "宋体";
}

a {
    text-decoration: none;
}

a:visited {
    /* 已访问的链接 */
    color: orange;
}

a:link {
    /* 未访问的链接 */
    color: palegreen;
}

a:hover {
    /* 鼠标放上去 */
    color: green;
}

a:active {
    /* 鼠标点击时 */
    color: salmon;
}

/* 上述链接的形态必须严格按照顺序排列，hover必须在link和visited之后，active必须在hover之后 */
div {
    float: left;
}

.document-two {
    margin-left: 20px;
}
